streamlit==1.32.0
transformers==4.38.2
python-docx==0.8.11
pytesseract==0.3.10
torch==2.2.0
pillow==10.1.0
accelerate==0.27.2
symspellpy==6.7.7
pandas==2.1.4
numpy==1.26.0
librosa==0.10.1
soundfile==0.12.1
sentencepiece==0.2.0